<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>
<br>
Добро пожаловать на платформу!
<br>
<br>
Введите, пожалуйста, свой никнейм в Telegram.
Он будет использоваться для обратной связи и оповещении о важных событиях.
<br>
<br>
<label for="nickName">Введите nickName: </label>
<br>
<input type="text" id="nickName" name="nickName" minlength="1" maxlength="32" pattern="^(a-zA-Zа-яА-Я0-9{1,32})$" required>
<br>
<br>
<button onclick="sendNickname()">Отправить</button>

<script>
    function sendNickname() {
        const nickname = document.getElementById('nickName').value;

        fetch('/crm/api/v1/auth/completeRegistration', {
            method: 'POST',
            credentials: 'include',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ nickName: nickname })
        })
            .then(response => response.json())
            .then(data => {
                const statusCode = data.statusCode;
                if (statusCode === 3000) {
                    window.location.href = "/middleware/view";
                } else if (statusCode === 1001) {
                    console.log(data.message)
                }
            })
            .catch(error => {
                console.error('Error:', error);
                location.reload();
            });
    }
</script>
</body>
</html>