<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Хакатон</title>
</head>
<body>

<h1>Добро пожаловать на Хакатон!</h1>

<h2>Войдите в личный кабинет через Яндекс</h2>

<button><a href="/crm/redirect"> Войти в ЛК через Яндекс</a></button>

<!--<script>-->
<!--    document.getElementById('submitBtn').addEventListener('click', function() {-->
<!--        fetch('crm/api/v1/auth', {-->
<!--            method: 'POST'-->
<!--        })-->
<!--            .then(response => {-->
<!--                if (response.redirected) {-->
<!--                    window.location.href = response.url;-->
<!--                }-->
<!--            })-->
<!--            .catch(error => {-->
<!--                console.error('Error:', error);-->
<!--            });-->
<!--    });-->
<!--</script>-->
</body>
</html>